/* Global styles */
:root {
    /* Color Palette */
    --color-primary: #114358;
    --color-first-complementary: #F2AA1F;
    --color-second-complementary: #F1ECE7;
    --color-tertiary-complementary: #6491A4;
    --color-dark: #090909;
    --color-light: #FFFFFF;

    /* Font Families */
    --font-sans: "Exo", sans-serif;
    --font-regular: "Exo", sans-serif;
    --font-medium: "ExoMedium", sans-serif;
    --font-semibold: "ExoSemiBold", sans-serif;
    --font-bold: "ExoBold", sans-serif;
    --font-extrabold: "ExoExtraBold", sans-serif;
    --font-italic: "Exoitalic", sans-serif;

    :root {
        /* Color del fondo del input */
        --p-inputtext-background: #ffffff; /* fondo blanco */
        /* Color del texto */
        --p-inputtext-color: #333333;
        /* Borde del input */
        --p-inputtext-border-color: #fdb825;
        /* Radio del borde */
        --p-inputtext-border-radius: 10px;
    }

}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Exo;
    src: url("/assets/fonts/exo-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ExoMedium;
    src: url("/assets/fonts/exo-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ExoSemiBold;
    src: url("/assets/fonts/exo-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ExoBold;
    src: url("/assets/fonts/exo-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ExoExtraBold;
    src: url("/assets/fonts/exo-extrabold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Exoitalic;
    src: url("/assets/fonts/exo-italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
}

/* Icon styles */
.icon use {
    fill: currentColor;
}
